Podfile
Podfile.lock
Pods/*
chat_group.xcodeproj/*
server/node_modules/*
server/sql/config.js
chat_group.xcworkspace/*
server/npm-debug.log
server/.eslintrc
server/sql/add_stuff.sql
server/sql/create_groups.sql
server/sql/create_groups.sql
